In [3]:
import sympy as sym
sym.init_printing(use_latex="mathjax")
import pandas as pd

link(https://www.omniascience.com/books/index.php/scholar/catalog/download/18/72/94-1?inline=1)

Pagina 91 

Ejercicio 20

## Una empresa está interesada en desarrollar un abono que contenga como mínimo 100 unidades de potasio, 25 de nitrógeno y 10 de amoníaco, para ello se dispone de los productos A y B cuyo coste en el mercado asciende a 10 y 15 euros por tonelada respectivamente. El contenido de potasio, nitrógeno y amoníaco de una tonelada de producto se muestra en la tabla siguiente:

In [4]:
df = pd.DataFrame(columns=['Potasio', 'Nitrógeno', 'Amoniaco'], index = ['Producto A','Producto B'])
df.loc['Producto A', :]= [2.0,0.3,0.2]
df.loc['Producto B', :]= [1.0,0.6,0.2]
df

           Potasio Nitrógeno Amoniaco
Producto A       2       0.3      0.2
Producto B       1       0.6      0.2

####  Desarrolle el nuevo abono tomando en consideración que se desea que dicho abono cueste lo menos posible.

$x_i$ Toneladas de producto i que intervienen en el abono i =A,B

$Función$ $para$ $minimizar$ {10$X_A$ + $15X_B$}

Restricción de potasio  $2X_A$ + $1X_B$ $\geq 100$

Restricción de nitrógeno  $0.3X_A$ + $0.6X_B$ $\geq 25$

Restricción de amoníaco  $0.2X_A$ + $0.2X_B$ $\geq10$

$X_A$ , $X_B$ $\geq0$